// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$white-30: #ffffff4D;
$white-50: #ffffff80;

$borderColor: #222D53;
$border1Color: #313b5f;
$border2Color: #141f48;
$panelColor: #222d53;
$oddColor: #2c365b;
$evenColor: #222D53;
$bgColor: #313b5f;
$primary: #212C58;
$primary-10: #1f19901A;
$primary-30: #1f19904D;
$primary-40: #1f199066;
$primary-60: #1f199099;
$secondary: #2c365b;
$third: #0d1842;
$success: #00ffff;
$danger: #cf000f;

$main-color: #212C58;
$main-color-25: #212c5840;
$main-color-50: #212c5880;
$main-color-75: #212c58bf;
$light-blue: #009FFF;
$black-30: #0000004D;


